.menu{  
    background-color: blueviolet;
    overflow: hidden;
    }
.menu a{
    float: right;
    color:#f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
    background-color: cyan;
}
#header{
    float:left;
    background-color: #199b72;
    margin-left: 20%;
    text-align: center;
    padding: 0px 20px;
}
section{
    background-color: gray;
}
img{
    width: 30%;
    float: left;
    margin: 0px 3.3% 10px;
}
.area{
    padding: 0px;
    margin: 0% 15%;
    overflow: auto;
}

.text{
    display: block;
    background-color: #199b72;
    text-align: justify;
}
p{
   font-size: 15px;
   margin: 0px;
   padding: 0px;

}
p.name{
    color: indianred;
    text-align: center;
    padding: 15px 20px;
    font-size: 17px;
}